## PRE TFM: MODELO MUESTRAL

Este notebook tiene como finalidad crear una sencilla replica del modelo final de TFM. Para ello trabajaré sobre una muestra reducida de un dataset en el que se desglosan los repartos de mercancías de una compañía de transporte

Presenta una serie de objetivos, los cuales trataré de finalizar en el mes de abril:

- Obtener una muestra reducida e implementarle una estructura sólida para nuestro propósito
- Definir las mejores herramientas 
- Geocodificar los repartos
- Sacar una MATRIZ DE DISTANCIAS Y TIEMPOS
- Aplicar clusterización a dataset
- Plotear la salida

### No se podrá correr el código ya que para ello es necesario la API de Google y por seguridad recomiendan no dejarla en el código.

NOTA AL PROFESOR: No he conseguido ocultar esta variable. Está definida (la variable) en un archivo .py de diferente directorio pero al importarla se puede seguir viendo la variable por lo que omito esa celda del notebook)

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [117]:
!pwd

/home/dsc/tfm

In [118]:
!ls

data_prueba_sample.xls	firts_tfm_file	      __pycache__
data_prueba.xls		PRUEBA PRE TFM.ipynb  tfm_imports.py

In [140]:
df = pd.read_excel('data_prueba.xls', usecols=[8, 9,10], convert_float=True)
df

,DIRECCION,CP DESTINO,POBLACION DESTINO
0,AV ENCINA 26,28942.0,FUENLABRADA
1,FRANCISCO DE ROJAS 10,28010.0,MADRID
2,RUIZ DE ALARCON 3,28014.0,MADRID
3,"C ALMAGRO, 9",28010.0,MADRID
4,"SAN LUIS, 25 1146",28033.0,MADRID
5,SAN JUAN DE ORTEGA 90,28034.0,MADRID
6,PORTO MARIN 7,28050.0,MADRID
7,CASTIELLO 14,28050.0,MADRID
8,SAN JUAN ORTEGA,28050.0,MADRID
9,PRINCESA DE EBOLI 52,28050.0,MADRID
10,SAN JUAN DE ORTEGA 90,28049.0,MADRID
11,CASTILLO DE CANDANHU 48,28050.0,MADRID
12,DULCE CHACON 17,28050.0,MADRID
13,PRINCESA DE EBOLI 52,28050.0,MADRID
14,AVDA JUAN CARLOS 1 27 BAJO A,28221.0,MAJADAHONDA
15,MONASTERIO DE LAS HUELGAS 21,28049.0,MADRID
16,CERRO MINGUETE 165,28035.0,MADRID
17,"C SANZ RASO, 57 -LOCAL-",28038.0,MADRID
18,GENERAL YAGUE 12,28020.0,MADRID
19,MORANTE,28001.0,MADRID
20,VILLALOBOS 137,28018.0,MADRID
21,PLZ SAGRADO CORAZON DE JESUS 2,28002.0,MADRID
22,HISTORIAS DE LA RADIO 4,28018.0,MADRID
23,LA CORUÑA 24,28020.0,MADRID
24,AYALA 109,28009.0,MADRID
25,MELCHOR FERNANDEZ ALMAGRO,28029.0,MADRID
26,"C SANZ RASO, 57 LOCAL",28038.0,MADRID
27,CALERO PITA,28053.0,MADRID
28,"C HIEDRA, S/N",28036.0,MADRID
29,"PZA. MANUEL GOMEZ MORENO, 2 - 1º",28020.0,MADRID
...,...,...,...
288,NU?EZ DE BALBOA 70,28006.0,MADRID
289,ANABEL SEGURA 11,28108.0,ALCOBENDAS
290,ANABEL SEGURA 11,28108.0,ALCOBENDAS
291,VELAZQUEZ 114,28006.0,MADRID
292,VIRGILIO 2B,28223.0,POZUELO DE ALARCON
293,ORTEGA Y GASSET 29,28006.0,MADRID
294,PSO DE LA CASTELLANA 216,28046.0,MADRID
295,POETA JUAN MARAGALL 1,28046.0,MADRID
296,PASEO DE LA CASTELLANA 83-85,28046.0,MADRID
297,DUQUESA DE CASTREJON 15,28033.0,MADRID
298,"C/ EMILIO VARGAS, 18 ECALERA 2-2ºB",28043.0,MADRID
299,MERCAMADRID C/ NAVE E PUESTO 50-52,28053.0,MADRID
300,CIUDAD TELEFONICA LAS TABLAS C/SAN JUAN,28050.0,MADRID
301,CL GRAN VIA 22 DU 5,28001.0,MADRID
302,"AVDA SAN LUIS, 25",28033.0,MADRID
303,"AVDA SAN LUIS, 25",28033.0,MADRID
304,CL GRAN VIA 32 8.,28013.0,MADRID
305,"C SANTA LEONOR, 65 -EDIF. F- 3ª PLTA-PARQ.EMP....",28037.0,MADRID
306,"GUZMAN EL BUENO, 110",28003.0,MADRID
307,PLAZA DE LA INDEPENDENCIA 6,28001.0,MADRID
308,CASTELLANA 42,28046.0,MADRID
309,ISABEL CORLBRAN 6-8,28050.0,MADRID
310,VELAZQUEZ 114,28006.0,MADRID
311,VELAZQUEZ 94,28006.0,MADRID
312,AV MARCONI 4,28021.0,MADRID
313,C/ GRANADA 3 PLIND VALDONAIRE,28970.0,HUMANES DE MADRID
314,"AVDA DEL PARTENON, 5 2º ED. CENTRAL PTA SUR",28042.0,MADRID
315,SANTA ENGRACIA 13,28010.0,MADRID
316,NaN,NaN,NaN
317,NaN,NaN,NaN

In [120]:
df.shape

(318, 4)

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 4 columns):
DIRECCION            316 non-null object
CP DESTINO           316 non-null float64
POBLACION DESTINO    316 non-null object
EXPEDICION           316 non-null float64
dtypes: float64(2), object(2)
memory usage: 10.0+ KB

In [141]:
df_2 = df.head(n=15)
df_2

                       DIRECCION  CP DESTINO POBLACION DESTINO
0                   AV ENCINA 26     28942.0       FUENLABRADA
1          FRANCISCO DE ROJAS 10     28010.0            MADRID
2              RUIZ DE ALARCON 3     28014.0            MADRID
3                   C ALMAGRO, 9     28010.0            MADRID
4              SAN LUIS, 25 1146     28033.0            MADRID
5          SAN JUAN DE ORTEGA 90     28034.0            MADRID
6                  PORTO MARIN 7     28050.0            MADRID
7                   CASTIELLO 14     28050.0            MADRID
8                SAN JUAN ORTEGA     28050.0            MADRID
9           PRINCESA DE EBOLI 52     28050.0            MADRID
10         SAN JUAN DE ORTEGA 90     28049.0            MADRID
11       CASTILLO DE CANDANHU 48     28050.0            MADRID
12               DULCE CHACON 17     28050.0            MADRID
13          PRINCESA DE EBOLI 52     28050.0            MADRID
14  AVDA JUAN CARLOS 1 27 BAJO A     28221.0       MAJADAHONDA

In [142]:
df_2.columns

Index(['DIRECCION', 'CP DESTINO', 'POBLACION DESTINO'], dtype='object')

In [143]:
df_2.values

array([['AV ENCINA 26', 28942.0, 'FUENLABRADA'],
       ['FRANCISCO DE ROJAS 10', 28010.0, 'MADRID'],
       ['RUIZ DE ALARCON 3', 28014.0, 'MADRID'],
       ['C ALMAGRO, 9', 28010.0, 'MADRID'],
       ['SAN LUIS, 25 1146', 28033.0, 'MADRID'],
       ['SAN JUAN DE ORTEGA 90', 28034.0, 'MADRID'],
       ['PORTO MARIN 7', 28050.0, 'MADRID'],
       ['CASTIELLO 14', 28050.0, 'MADRID'],
       ['SAN JUAN ORTEGA', 28050.0, 'MADRID'],
       ['PRINCESA DE EBOLI 52', 28050.0, 'MADRID'],
       ['SAN JUAN DE ORTEGA 90', 28049.0, 'MADRID'],
       ['CASTILLO DE CANDANHU 48', 28050.0, 'MADRID'],
       ['DULCE CHACON 17', 28050.0, 'MADRID'],
       ['PRINCESA DE EBOLI 52', 28050.0, 'MADRID'],
       ['AVDA JUAN CARLOS 1 27 BAJO A', 28221.0, 'MAJADAHONDA']],
      dtype=object)

In [144]:
df_2['CP DESTINO']=df_2['CP DESTINO'].astype(np.int64)
df_2

/home/dsc/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                       DIRECCION  CP DESTINO POBLACION DESTINO
0                   AV ENCINA 26       28942       FUENLABRADA
1          FRANCISCO DE ROJAS 10       28010            MADRID
2              RUIZ DE ALARCON 3       28014            MADRID
3                   C ALMAGRO, 9       28010            MADRID
4              SAN LUIS, 25 1146       28033            MADRID
5          SAN JUAN DE ORTEGA 90       28034            MADRID
6                  PORTO MARIN 7       28050            MADRID
7                   CASTIELLO 14       28050            MADRID
8                SAN JUAN ORTEGA       28050            MADRID
9           PRINCESA DE EBOLI 52       28050            MADRID
10         SAN JUAN DE ORTEGA 90       28049            MADRID
11       CASTILLO DE CANDANHU 48       28050            MADRID
12               DULCE CHACON 17       28050            MADRID
13          PRINCESA DE EBOLI 52       28050            MADRID
14  AVDA JUAN CARLOS 1 27 BAJO A       28221       MAJADAHONDA

In [128]:
#Instalo libreria de usuarios de google maps para python

#! pip install -U googlemaps

In [129]:
#Actualizo el pip instalador

#! pip install --upgrade pip

In [130]:
#guardo la muestra a utlizar para el Pre_TFM

df_2.to_excel('data_prueba_sample.xls')

## GOOGLE MAPS PLATFORM

##### LOGGIN: en este paso, y tras revisar variable documentación, obtengo una cuenta y un proyecto con Google Maps, lo cual me permitirá aprovehar sus utilidades

Accedo a un REPOSITORIO abierto de desarrolladores de google maps para PYTHON, la cual me brinda la posibilidad de poder trabajar desde Python

In [ ]:
### Primer intento con libreria googlemaps para python:

import googlemaps
from datetime import datetime

In [133]:
?googlemaps

#### En este punto dejo el código sin correr, por seguridad de la api

In [131]:
#from info_tfm import api_key

In [132]:
#user_google = googlemaps.Client(key=api_key)

In [86]:
#user_google

### GEOPY

Antes de empezar a trabajar con la plataforma de GOOGLE MAPS, investigo acerca de esta librería de Geopy, la cual intuyo me será de gran utilidad para poder geocodificar entregas en los hipotéticos casos:

- Para pasarle long/lat a Google Maps (aunque google geocodifica calles por defecto al sacar la matriz distancias)
- Para tener una segunda vía de geocodificación por si algunas entregas no se geocodifican con Google Maps

Es por ello que dejo el código guía para ver como funciona

In [134]:
# Prueba con la libreria Geopy: la finalidad es poder geocodificar calles.
# Google Maps Platform me deniega el acceso a geocodificar, por lo que uso esta 
# herramienta por si llegase a necesitarlo (la matriz de distancias geocodifica directamente...)

#! pip install geopy

In [135]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="user_project")

In [136]:
location = geolocator.geocode("Calle del Universo, 3, Valladolid")
print(location.address)

Calle del Universo, Pilarica, Valladolid, Castilla y León, 47011, España

In [137]:
print((location.latitude, location.longitude))
(41.6569033, -4.6990056)
print(location.raw)
{'place_id': '93034279', 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': '75689481', 'boundingbox': ['41.6550687', '41.6587924', '-4.6990298', '-4.698207'], 'lat': '41.6569033', 'lon': '-4.6990056', 'display_name': 'Calle del Universo, Pilarica, Valladolid, Castilla y León, 47011, España', 'class': 'highway', 'type': 'residential', 'importance': 0.8099999999999999}

(41.6579793, -4.6988921)
{'place_id': 93034279, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 75689481, 'boundingbox': ['41.6569033', '41.6587924', '-4.6990298', '-4.698207'], 'lat': '41.6579793', 'lon': '-4.6988921', 'display_name': 'Calle del Universo, Pilarica, Valladolid, Castilla y León, 47011, España', 'class': 'highway', 'type': 'residential', 'importance': 0.51}

{'boundingbox': ['41.6550687', '41.6587924', '-4.6990298', '-4.698207'],
 'class': 'highway',
 'display_name': 'Calle del Universo, Pilarica, Valladolid, Castilla y León, 47011, España',
 'importance': 0.8099999999999999,
 'lat': '41.6569033',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'lon': '-4.6990056',
 'osm_id': '75689481',
 'osm_type': 'way',
 'place_id': '93034279',
 'type': 'residential'}

In [138]:
#Tras varios intentos parece que funciona, aunque bastante regular dando ubicaciones sin sentido (ej:calle orense 32, Madrid)
location = geolocator.geocode(" ENCINA 26 28942 FUENLABRADA")
print(location.address)

Avenida de la Encina, El Naranjo, Fuenlabrada, Área metropolitana de Madrid y Corredor del Henares, Comunidad de Madrid, 28942, España

In [139]:
?geolocator

### DISTANCE MATRIX 

NOTA AL PROFESOR: advertir que las salidas del código son de pago. Estoy usando 266 euros de prueba con la cuenta de Google. Es por ello que, hasta no entender mejor este sistema de uso y pago, no he querido ponerme a probar indiscrimandadamente entradas de información (por ahora)

In [106]:
from googlemaps import distance_matrix

In [107]:
#repositorio con la documentación: https://googlemaps.github.io/google-maps-services-python/docs/#

In [112]:
#from googlemaps import geocoding

#geocoding.geocode(client=user_google,address='calle orense 32, Madrid')
# no tengo permisos para geocodificar

ApiError: REQUEST_DENIED (This API project is not authorized to use this API.)

In [113]:
#1º prueba de matriz de distancias con una ruta
distance_matrix.distance_matrix(client=user_google,origins='Madrid,España',destinations='Barcelona, España')

{'destination_addresses': ['Barcelona, Spain'],
 'origin_addresses': ['Madrid, Spain'],
 'rows': [{'elements': [{'distance': {'text': '620 km', 'value': 620474},
     'duration': {'text': '5 hours 58 mins', 'value': 21500},
     'status': 'OK'}]}],
 'status': 'OK'}

In [114]:
#2º prueba de matriz de distancias con diversas direcciones

result=distance_matrix.distance_matrix(client=user_google,origins=['PRINCESA DE EBOLI 52 28050 MADRID','AV ENCINA 26 28942 FUENLABRADA','FRANCISCO DE ROJAS 10 28010 MADRID'],destinations=['PRINCESA DE EBOLI 52 28050 MADRID','AV ENCINA 26 28942 FUENLABRADA','FRANCISCO DE ROJAS 10 28010 MADRID'])

In [115]:
type(result)

dict

In [72]:
result

{'destination_addresses': ['Calle Princesa de Éboli, 52, 28050 Madrid, Spain',
  'Av. de la Encina, 26, 28942 Fuenlabrada, Madrid, Spain',
  'Calle Francisco de Rojas, 10, 28010 Madrid, Spain'],
 'origin_addresses': ['Calle Princesa de Éboli, 52, 28050 Madrid, Spain',
  'Av. de la Encina, 26, 28942 Fuenlabrada, Madrid, Spain',
  'Calle Francisco de Rojas, 10, 28010 Madrid, Spain'],
 'rows': [{'elements': [{'distance': {'text': '1 m', 'value': 0},
     'duration': {'text': '1 min', 'value': 0},
     'status': 'OK'},
    {'distance': {'text': '38.0 km', 'value': 38043},
     'duration': {'text': '33 mins', 'value': 1959},
     'status': 'OK'},
    {'distance': {'text': '10.9 km', 'value': 10878},
     'duration': {'text': '25 mins', 'value': 1482},
     'status': 'OK'}]},
  {'elements': [{'distance': {'text': '40.3 km', 'value': 40284},
     'duration': {'text': '32 mins', 'value': 1900},
     'status': 'OK'},
    {'distance': {'text': '1 m', 'value': 0},
     'duration': {'text': '1 min', 'value': 0},
     'status': 'OK'},
    {'distance': {'text': '24.9 km', 'value': 24891},
     'duration': {'text': '34 mins', 'value': 2018},
     'status': 'OK'}]},
  {'elements': [{'distance': {'text': '15.8 km', 'value': 15778},
     'duration': {'text': '22 mins', 'value': 1298},
     'status': 'OK'},
    {'distance': {'text': '31.8 km', 'value': 31800},
     'duration': {'text': '30 mins', 'value': 1824},
     'status': 'OK'},
    {'distance': {'text': '1 m', 'value': 0},
     'duration': {'text': '1 min', 'value': 0},
     'status': 'OK'}]}],
 'status': 'OK'}

In [77]:
result.values()

dict_values([['Calle Princesa de Éboli, 52, 28050 Madrid, Spain', 'Av. de la Encina, 26, 28942 Fuenlabrada, Madrid, Spain', 'Calle Francisco de Rojas, 10, 28010 Madrid, Spain'], ['Calle Princesa de Éboli, 52, 28050 Madrid, Spain', 'Av. de la Encina, 26, 28942 Fuenlabrada, Madrid, Spain', 'Calle Francisco de Rojas, 10, 28010 Madrid, Spain'], [{'elements': [{'distance': {'text': '1 m', 'value': 0}, 'duration': {'text': '1 min', 'value': 0}, 'status': 'OK'}, {'distance': {'text': '38.0 km', 'value': 38043}, 'duration': {'text': '33 mins', 'value': 1959}, 'status': 'OK'}, {'distance': {'text': '10.9 km', 'value': 10878}, 'duration': {'text': '25 mins', 'value': 1482}, 'status': 'OK'}]}, {'elements': [{'distance': {'text': '40.3 km', 'value': 40284}, 'duration': {'text': '32 mins', 'value': 1900}, 'status': 'OK'}, {'distance': {'text': '1 m', 'value': 0}, 'duration': {'text': '1 min', 'value': 0}, 'status': 'OK'}, {'distance': {'text': '24.9 km', 'value': 24891}, 'duration': {'text': '34 mins', 'value': 2018}, 'status': 'OK'}]}, {'elements': [{'distance': {'text': '15.8 km', 'value': 15778}, 'duration': {'text': '22 mins', 'value': 1298}, 'status': 'OK'}, {'distance': {'text': '31.8 km', 'value': 31800}, 'duration': {'text': '30 mins', 'value': 1824}, 'status': 'OK'}, {'distance': {'text': '1 m', 'value': 0}, 'duration': {'text': '1 min', 'value': 0}, 'status': 'OK'}]}], 'OK'])

In [ ]:
# RESUMEN: he modificado mi dataset y he conseguido la salida de una matriz de distancias, la cual estructuraré 
# más adelante para poder clusterizar